
  $width: 373px;
  $height: 14px;
  $font-size: 15px;
  $line-height: 0px;
  $color: #ff6c40;
  $font-weight: 700;
  $font-family: "Lato";
  $text-align: left;


  $font-size1: 22px;
  $line-height1: 0px;
  $color1: #000000;
  $font-weight1: 600;
  $font-family1: "Lato";
  $text-align1: left;


  $width2: 124px;
  $height2: 26px;
  $border-radius2: 5px;
  $background-color2: #ffffff;
  $border2: 1px solid #e85f37;

  $width3: 100px;
  $height3: 100px;
  $border-radius3: 5px;
  $background-color3: #000000;

  $font-size4: 13px;
  $letter-spacing4: 2px;
  $line-height4: 0px;
  $text-transform4: uppercase;
  $color4: #525252;
  $font-weight4: 400;
  $font-family4: "Lato";
  $text-align4: left;
